<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFI.Pomodoro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RFI.Pomodoro.Properties.Settings>
            <setting name="WorkDuration" serializeAs="String">
                <value>00:25:00</value>
            </setting>
            <setting name="BreakDuration" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="StartupLocation" serializeAs="String">
                <value>1467, 0</value>
            </setting>
        </RFI.Pomodoro.Properties.Settings>
    </applicationSettings>
</configuration>