<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoGadget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <PhotoGadget.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>200, 150</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>c:\_GitHub\development\dotnet\PhotoGadget\PhotoGadget\TestImages\</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
        </PhotoGadget.Properties.Settings>
    </applicationSettings>
</configuration>